body {
    height: 100%;
}
.container {

}
.juego {
    width: 520px;
    height: 520px;
    margin: 5% auto auto;
    box-sizing: border-box;
}

.casillas {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
    margin-left: 1px;
    margin-top: 1px;
}
#opciones {
    width: 520px;
    margin:auto;
}
#casillaUno {
    background-color: green;
}
#casillaDos {
    background-color: red;
}
#casillaTres {
    background-color: yellow;
}
#casillaCuatro {
    background-color: blue;
}
